<div>
<h5>Contacteer de stad Antwerpen</h5>

<p>
  De meeste zaken regelt u het snelst digitaal via onze <a href="https://www.antwerpen.be/nl/home">website</a>.
<br>
  Vindt u niet wat u zoekt of hebt u een andere vraag? Dan kan u de stad Antwerpen op de volgende manieren bereiken:
</p>

<h6>Meld het ons</h6>
<p>
  <a href="https://www.antwerpen.be/nl/eloket/melden">Meld </a>uw vraag, suggestie of klacht over uw buurt.
</p>

<h6>Bezoek ons</h6>
<p>
  Hier vindt u de openingsuren en adressen van de <a href="https://www.antwerpen.be/nl/info/52d5051e39d8a6ec798b4793/stadsloketten">stadsloketten</a>
</p>

<h6>Bel ons</h6>
<p>
  U kan het stedelijk contactcenter elke werkdag bereiken van 9 tot 17 uur op 03 22 11 333.
</p>

<h6>Schtrijf ons</h6>
<p>
  U kan ons ook een email versturen naar het <a href = "mailto: info@antwerpen.be">algemene emailadres</a>
</p>
</div>
